# Servidor
PORT=3000
NODE_ENV=development

# Base de datos (PostgreSQL)
DATABASE_URL="postgresql://traineros:traineros@localhost:5432/traineros?schema=public"

# Autenticación
JWT_SECRET="cambiar-en-produccion"
JWT_EXPIRES_IN="1d"
GOOGLE_CLIENT_ID=""
